@media (max-width: 1400px) {

    .container-mod {
        max-width: 1278.5px;
    }
}

@media (max-width: 900px) {
    .main-wrapper {
        flex-direction: row;
    }

    .gps-box-wrap {
        position: relative;
        display: block;
        top: 0;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}