@media (max-width: 1400px) {

    .container-mod {
        max-width: 1278.5px;
    }
}

@media (max-width: 900px) {
    .main-wrapper {
        flex-direction: row;
        text-align: center;
    }

    .header-wrapper .h1,
    h1 {
        font-family: 'Author-Semibold', sans-serif;
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 3rem;
    }

    .gps-box-wrap {
        position: relative;
        display: block;
        top: 0;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}