@media (max-width: 1280px) {

    .container-mod {
        max-width: 108.85rem;
    }
}

@media (max-width: 1300px) {

    .main-wrapper {
        height: 50vh;
    }

    .header-wrapper .h1,
    h1 {
        font-family: 'Author-Semibold', sans-serif;
        font-size: 4rem;
        line-height: 4.5rem;


    }
}


@media (max-width: 600px) {
    .gps-box-wrap {
        position: relative;
        display: block;
        top: 0;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -o-transform: translateY(0%);
    }

    .why-choose-list-item {
        flex-basis: 100%;
    }
}