html {
    font-size: 62.5%;
}

/* fontsize and font-family*/


body {
    font-family: "Author-Medium", sans-serif;
    font-size: 1.5rem;
    height: 90vh;
    width: 100%;
}

.primary-color {
    color: #E15352;
}

.secondary-color {
    color: #37474F;
}

.tertiary-color {
    color: #FFFFFF;
}

.quaternary-color {
    color: #FB8C89;
}

.home-wrapper {
    position: relative;
    max-width: 100%;
}

.header-wrapper .h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1;
}

.header-wrapper .h1,
h1 {
    font-family: 'Author-Semibold', sans-serif;
    font-size: 6.4rem;
    line-height: 8rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
}

.header-wrapper h3 {
    font-size: 2rem;
}


.block {
    display: block;
}

.container-mod {
    max-width: 108.85rem;
    margin: 0 auto;
}

.navbar {
    padding-top: 1.3rem;
    padding-bottom: 0;
}

.navbar-logo {
    margin-right: 0.75rem;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 5rem;
    color: #37474F;
}

.navbar-nav .nav-link span {
    display: inline-block;
    margin-right: 0.5rem;
}

a,
a:hover {
    color: #37474F;
    text-decoration: none;
}

.btn-mod {
    display: inline-block;
    border-radius: 2.6rem;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0.2rem 2.9rem;
    background-color: #E15352;
    gap: 1rem;
}

.main-wrapper {
    background-color: #FFFFFF;
    background-image: url(../images/bg-img.png);
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    position: relative;
    overflow: hidden;
}

.main-heading-btn {
    margin-bottom: 3rem;
}

.main-heading-btn a:first-child {

    margin-right: 1rem;
}

.main-heading-text img,
h3 {
    display: inline-block;
    line-height: normal;
    margin-bottom: 0;
    vertical-align: middle;
}

.main-heading-text img {
    margin-left: 1rem;
}

.main-heading-text h3 {
    margin-left: 0.5rem;
}

.gps-box-wrap {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 2;
    max-width: 100%;
    height: auto;
}

.gps-box-wrap img {
    width: 100%;
}

.main-vector {
    max-width: 100%;
    width: 343px;
    height: auto;
    position: relative;
    margin-left: auto;
}

.main-vector svg {
    right: 0;
    bottom: -40rem;
    z-index: 1;
    position: absolute;
}

.chat-wrappers {
    position: fixed;
    position: -webkit-sticky;
    right: 1rem;
    bottom: 1rem;
    z-index: 1000;
    cursor: pointer;
}

.why-choose-section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    background-image: url(../images/why-choose-bg.png);
    width: 100%;
    background-color: rgba(24, 24, 32, 0.9);
    overflow: hidden;
    padding: 5rem 0 5rem;
    margin: 0 auto;
}

.container-mod1 {
    max-width: 65rem;
}

.why-choose-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.why-choose-list-item {
    flex-basis: calc(33.333% - 4px);
    margin-bottom: 5rem;
    padding: 0.8rem;
    text-align: center;
}

.why-choose-list-item p,
.why-choose-list-item span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}


.sub-heading {
    margin-bottom: var(--bs-gutter-y);
}

.sub-heading h2 {
    text-transform: capitalize;
    font-size: 3.2rem;
    letter-spacing: 0.1rem;
    font-family: 'Author-Semibold', sans-serif;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sub-heading h2::before,
.sub-heading h2::after {
    width: 2rem;
    height: 0.1rem;
    background-color: #fff;
    content: "";
    margin: 0 10px;
}

.description p {
    margin: 0;
}

.description {
    position: relative;
    text-align: left;
    font-size: 2rem;
    margin: 0 auto 5rem auto;
    padding: 2rem 0;
}

.description::before {
    content: "";
    height: 0.1rem;
    width: 10rem;
    display: inline-block;
    background-color: #e15352;
    left: 0;
    top: 0;
    position: absolute;
}

.description::after {
    content: "";
    height: 0.1rem;
    width: 10rem;
    display: inline-block;
    background-color: #e15352;
    right: 0;
    bottom: 0;
    position: absolute;
}


/* our features*/

.our-features {
    padding: 5rem 0;
    text-align: center;
    color: #455A64;
    background-color: antiquewhite;
}

.container-mod2 {
    max-width: 80rem;
}

.our-features-box {
    max-width: 22rem;
    margin: 0 auto;
}

.our-features .sub-heading h2::before,
.our-features .sub-heading h2::after {
    background-color: #181823;
}